@import "variables";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 23px;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: bold;

  a {
    color: $text-color;
  }
}

h1, h2 {
  font-family: $serif;
}

h3, h4, h5, h6 {
  font-family: $sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
  color: $compact-header-color;
}

h3, h4 {
  margin: 20px 0 10px 0;
  padding: 0;
}

body > section {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: $min-width;
  max-width: $width;
  padding: 0 10px;
}

a {
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: $link-color;

  &:hover {
    border-bottom: 1px solid;
  }
}

p {
  font-size: 16px;
  line-height: 23px;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;

  a {
    color: #444;

    &:hover {
      color: $link-color;
    }
  }
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;

  a {
    color: #444;

    &:hover {
      color: #2e80d3;
    }
  }
}

pre {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  font-family: $monospace;
  font-size: 13px;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em 1em;

  code {
    background-color: $code-background-color;
    border: medium none;
    font-size: 1em;
    padding: 0;
  }
}

code {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  padding: 0 0.2em;
  font-family: $monospace;
  font-size: 0.8em;
}

table {
  margin: 15px 0;

  tr {
    border-top: 1px solid #ccc;
    background-color: #fafafa;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 6px 13px;
  }
}

body > header {
  .container {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: $min-width;
    max-width: $width;
    padding: 50px 10px 80px 10px;
  }

  a.logo {
    display: block;
    border-bottom: none;

    .label {
      h1 {
        text-align: center;
        font-size: 48px;
        line-height: 48px;
        margin: 0;
        padding: 30px 0 10px 0;
      }

      h2 {
        text-align: center;
        font-weight: normal;
        opacity: 0.5;
        font-size: 24px;
        line-height: 26px;
        padding: 0;
        margin: 0;
      }
    }
  }

  nav {
    ul {
      text-align: center;
      padding: 0;
      margin: 10px 0 0 0;

      li {
        display: inline;
        list-style: none;
        padding: 0 5px;

        a {
          text-decoration: none;
        }
      }
    }
  }

  &.compact {
    min-height: 60px;
    max-width: none;
    padding: 0;
    background-color: $compact-header-color;

    .container {
      margin: 0;
      padding: 0 10px;
      max-width: none;
      min-width: auto;
    }

    a.logo {
      padding: 0;
      max-width: none;
      min-width: auto;
      text-align: center;

      .label {
        display: inline-block;
        padding: 10px 0 0 0;

        h1 {
          margin: 0;
          padding: 0 10px;
          display: inline-block;
          font-size: 18px;
          color: #e2ddd3;
        }

        h2 {
          margin: 0;
          display: inline-block;
          font-size: 16px;
          line-height: 23px;
          opacity: 1;
          color: rgba(#e2ddd3, 0.7);
        }
      }
    }

    nav {
      ul {
        margin: 0;
        padding: 0 0 24px 0;

        a {
          color: rgba(#e2ddd3, 0.7);
        }
      }
    }
  }
}

body > footer {
  box-sizing: border-box;
  margin: 10px auto 40px;
  min-width: $min-width;
  max-width: $width;
  padding: 0 10px;

  p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    opacity: 0.8;
  }
}

ol.articles {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin: 0;
    padding: 0;

    h2 {
      margin: 0 0 0.9em;
      padding: 0;
    }

    article {
      padding: 10px 0;
    }
  }
}

article {
  padding: 20px 0;

  header {
    h2 {
      margin-bottom: 0.9em;

      a.permalink {
        &:hover {
          color: $link-color;
          border: 0;
        }
      }
    }

    p.date {
      color: lighten($text-color, 40%);
      font-size: 14px;
      line-height: 20px;
      padding: 0;
      margin: -1em 0 1em;
    }
  }

  ul, ol {
    margin: 0 0 1em 0.5em;
    padding: 0;

    li {
      margin-left: 1em;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }

  ol li ol li {
    list-style: lower-alpha;
  }

  p {
    margin: 0 0 1em;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  position: absolute;
  top: 2.5em;
  left: -3em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  a {
    color: #fff;
    display: block;
    margin: 0.05em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    border: none;
  }

  @media only screen and (max-width: 480px) {
    transform: none;
    -webkit-transform: none;
    position: static;
    margin: -70px 0 80px;

    .compact & {
      margin: 0;
    }
  }
}
