// Fonts
$monospace: Monaco, Courier, monospace;
$sans-serif: "Open Sans", sans-serif;
$serif: "Bitter", Georgia, serif;

// Colors
$background-color: #f7f8fa;
$text-color: rgba(#000, 0.8);
$heading-color: #000;
$code-background-color: #f8f8ff;
$code-border-color: #dedede;
$link-color: #0881b3;
$compact-header-color: #0869B2;

// Sizing
$min-width: 320px;
$width: 640px;
