<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }} - Gosha Arinich</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:type" content="blog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="http://cachedcommons.org/cache/modernizr/1.5.0/javascripts/modernizr-min.js"></script>
</head>
<body id="index" class="home">
  <header>
    <div class="container">
      <div class="sixteen columns">
        <h1><a href="."><img src="http://goshakkk.name/images/eightbit-avatar.png">Gosha Arinich</a></h1>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <article class="hentry">
          <div class="entry-header">
            <abbr class="published">
              {{ page.date | date: "%B %e, %Y" }}
            </abbr>
            <h2>{{ page.title }}</h2>
          </div>
          <div class="entry-content">
          {{ content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</body>
</html>